@model p3.Models.MinorModel

<h1 class="text-center mt-4">@ViewData["Title"]</h1>

<div class="container my-5">

    <h1 class="text-center mb-4">Minors</h1>
    @if (Model.UgMinors != null && Model.UgMinors.Any())
    {
        <div class="accordion" id="minorAccordion">
            @foreach (var program in Model.UgMinors)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-@program.name">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@program.name" aria-expanded="false" aria-controls="collapse-@program.name">
                            @program.name
                        </button>
                    </h2>
                    <div id="collapse-@program.name" class="accordion-collapse collapse" aria-labelledby="heading-@program.name" data-bs-parent="#minorAccordion">
                        <div class="accordion-body">
                            @await Html.PartialAsync("MinorDetails", program)
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-muted">No minors available at this time.</p>
    }
</div>
